a {
	color:#ffffff;
	text-decoration: none;
}

a:visited{
	color:#ffffff;
	text-decoration: none;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body{
	color: #ffffff;
	font-family: Roboto , "Segoe UI", Verdana, serif;
	font-size:12pt;
	margin:0;
	padding:0;
	position:relative;
}

#header{
	width:100%;
	height: 10rem;
	background-color:#00acc3;
	padding-bottom:20px;
	box-shadow:0 0 3px #000000;
	position:relative;
}

#entete{
	width:100%;
	height:100%;
	margin:auto;
}
#logo{
	float:left;
	width: 10rem;
	position:relative;
	top:65%;
	margin-top:-96px;
}

#titre{
	float:left;
	color:#ffffff;
	font-size:32px;
	font-weight:bold;
	height:50px;
	position:relative;
	top:40px;
}
#imLogo {
	max-width: 100%;
	max-height: 100%;
}

#connect {
	height:30px;
	width:380px;
	padding:10px;
	position:absolute;
	right:30px;
	top:65%;
	background-color:#00838F;
	border-radius: 2px;
	color:#ffffff;
	font-size:18px;
	text-align:center;
}

#connect a{
	font-weight:bold;
	text-decoration: none;
}

#connect a :visited{
	font-weight:bold;
	text-decoration: none;
}

#connect > p {
    margin: 0;
}

#corps{
	float:left;
	width: 100%;
	background-color:#ffffff;
}
#menu{
	float : left;
	width: 20%;
	min-height:355px;
	margin-left: 3px;
	color:#222222;
	font-size:15px;
}
#menu p{
	font-weight:bold;
}
#menu a{
	color:#222222;
	text-decoration: none;
}
#menu a :visited{
	color:#222222;
	text-decoration: none;
}
#menuInt{
	margin-top: 2px;
	margin-left: 50px;
	min-height:367px;
}
#texte{
	float:left ;
	width: 79%;
	margin-left: 5px;
	text-align: center;
	min-height:380px;
	color:#222222;
}
#spacer {
  clear: both;
}

#footer{
	width:100%;
	height:50px;
	background-color: #00acc3;
	padding-top:20px;
/*	position:relative;*/
/*    position: absolute;*/
	bottom:0px;
	box-shadow:0 0px 5px #000000;
	font-size:12px;
	text-align:center;
    margin-top: 2rem;
}
label{
	font-size:12pt;
    font-weight:bold;
}

* a:hover{
	text-decoration: underline;
}
#menu a:hover{
	text-decoration: underline;
	font-weight: bold;
}
.centreImage{
 width:30%;
 }
 .icone{
 	margin-right : 10px;
 	position:relative;
 	top:2px;
}


.lien {
    font-weight: bold;
    color: black;
}

.lien:visited {
    color:black;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1rem;
    margin-top:1rem;
}

table > thead .pure-table {
    text-align: center;
}

#pConnexion {
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: Roboto;
    src: url(font/Roboto-Medium.ttf);
}

th {
    width: 11rem;
    cursor: pointer;
}

ul {
    background: url(image/liste.png);
}

.imgLogo {
    
    width: 7rem;
}

#erreurPage {
    margin-top: 2rem;
}

